:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

.app {
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  max-width: 500px;
  margin: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    background-color: #5353c3;
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
    background-color: #ba53c3;
    opacity: .7;
  }

  100% {
    transform: rotate(360deg);
    background-color: #5353c3;
    opacity: 1;
  }
}

.prettyLoader {
  width: 40px;
  height: 40px;
  background-color: #5353c3;
  border-radius: 8px;
  animation: loading 2s 0s infinite linear;
  margin: auto;
}
